.main {
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.main form {
  width: 65%;
  min-width: 100px;
  text-align: center;
}

.main form button {
  background-color: greenyellow;
  color: black;
}

.main label {
  color: white !important;
  font-size: 4vh;
  margin-bottom: 10px;
}

.main p {
  color: white !important;
  font-size: 4vh;
  margin-bottom: 10px;
}

.text_base {
  color: white !important;
  font-size: 4vh;
  margin-bottom: 10px;
  text-align: center;
}

.card_md {
  margin: 20px;
}
.card_md p {
  color: #fff;
}

.card_md div {
  color: #fff !important; 
}

.card_md div small {
  color: #fff !important;
}

.title_md {
  color: #fff;
  text-transform: uppercase;
  font-size: 3vh;
}

.container_md {
  text-align: center;
  align-items: center;
  width: 100%;
}

/* YourStyles.module.css */
.userContainer {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
}

.ContainerChatList {
  cursor: pointer; 
  max-width: 350px;
}

.circularImage {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}

.circularImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userName {
  flex-grow: 1;
  color: #fff;
}
